@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.custom-bg {
  background: url(../public/bg.jpg) !important;
  background-size: cover !important;
  background-color: #581c87;
  background-repeat: no-repeat !important;
  background-position: center !important;
}


.custom-ip-field {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(250 204 21);
  border-radius: 0.2em 0.2em 0 0;
  color: Red;
  text-shadow: 1px 1px 2px rgb(250 204 21);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border: 1px solid rgb(250 204 21);
}
.custom-ip-field::placeholder {
  color: white;
}

.custom-btn {
  border: 2px white solid;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 1px rgba(31, 38, 135, 0.37);
}
.custom-btn:active,
.custom-btn:hover {
  border: 2px solid;
  background-color: rgb(250 204 21);
  color: black;
  font-weight: 500;
  transition: 0.3s ease;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-color: rgb(250 204 21) transparent rgb(250 204 21) transparent;
  animation: spin 1.5s linear infinite;
}


.select {
  background-color: rgb(7, 207, 0);
  color: white;
  box-shadow: 0 0 1px black;
}


.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

